@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a small web application that helps you store information about books.</p>
    <p><a href="/Books">View available books</a></p>
    <p>Developed by <a href="https://github.com/gazzonn" target="_blank">gazzonn</a></p>
</div>
